<section class='big-list'>
    {{#each books}}
    <article class='big-list-image'>
        <a href="/books/{{_id}}">
            <img src="data:image/png;base64, {{cover}}" alt="{{title}}" />
        </a>
        <div class="favorites">
            <i class="far fa-star">{{favorittedBy.length}}</i>
        </div>
    </article>
    {{/each}}
</section>

<ul class="pagination">
    {{#pages maxPage}}
    <li class="page-item">
        <a class="page-link" href="/books?page={{this}}">{{this}}</a>
    </li>
    {{/pages}}
</ul>