<div id="bookDetails">
    <h1>{{title}}</h1>
    <span>by <a href="authors/{{author.id}}">{{author.name}}</a></span>
    <img src="data:image/png;base64, {{cover}}" alt={{title}}>
    <p>{{description}}</p>
    <button id='add-book-to-cart'>Add book to cart</button>
</div>