<h1>Favorite books</h1>
{{#each favoriteBooks}}
    <h1><a href="/books/{{_id}}">{{title}}</a></h1>
    <img src="data:image/png;base64, {{cover}}" alt={{title}}>
    <a href="/authors/{{author.id}}">{{author.name}}</a>
{{/each}}

{{#each purchasedBooks}}
    <h1><a href="/books/{{_id}}">{{title}}</a></h1>
    <img src="data:image/png;base64, {{cover}}" alt={{title}}>
    <a href="/authors/{{author.id}}">{{author.name}}</a>
{{/each}}

{{#each favoriteAuthors}}
    <h1><a href="/authors/{{_id}}">{{name}}</a></h1>
    <img src="data:image/png;base64, {{picture}}" alt={{name}}>
{{/each}}