{{#unless favoriteBooks}}
    {{#unless favoriteAuthors}}
        {{#unless purchasedBooks}}
            <div id="no-results">
                <h1>No items purchased or favorited!</h1>
            </div>
        {{/unless}}
    {{/unless}}
{{/unless}}

<section id="favorite-books">
    {{#if favoriteBooks}}
    <h1>Favorite books</h1>
    <section class='big-list'>
        {{#each favoriteBooks}}
        <article class='big-list-image'>
            <a href="/books/{{id}}">
                <img src="data:image/png;base64, {{cover}}" alt="{{title}}" />
            </a>
        </article>
        {{/each}}
    </section>
    {{/if}}
</section>

<section id="purchased-books">
    {{#if purchasedBooks}}
    <h1>Purchased books</h1>
    <section class='big-list'>
        {{#each purchasedBooks}}
        <article class='big-list-image'>
            <a href="/books/{{_id}}">
                <img src="data:image/png;base64, {{cover}}" alt="{{title}}" />
            </a>
        </article>
        {{/each}}
    </section>
    {{/if}}
</section>

<section id="favoriteAuthors">
    {{#if favoriteAuthors}}
    <h1>Favorite authors</h1>
    <section class='big-list'>
        {{#each favoriteAuthors}}
        <article class='big-list-image'>
            <h5>{{name}}</h5>
            <a href="/authors/{{id}}">
                <img src="data:image/png;base64, {{picture}}" alt="{{name}}" />
            </a>
        </article>
        {{/each}}
    </section>
    {{/if}}
</section>