<section id='home'>
    <h1>Read books every day</h1>
    <h3>Search books or authors</h3>
    <form action="/search" method="post" id="search-form">
        <div class="form-group">
            <input id="search" class="form-control" type="text" name="search" placeholder="Search" />
            <small id="search-errors" class="form-text text-white"></small>
        </div>
    </form>
</section>

<section id="top">
    <h4>Current top books:</h4>
    <section class='list'>
        {{#each books}}
        <article class="image">
            <a href="/books/{{_id}}">
                <img src="data:image/png;base64, {{cover}}" alt="{{title}}" />
            </a>
            <div class="favorites">
                <i class="far fa-star">{{favorittedBy.length}}</i>
            </div>
        </article>
        {{/each}}
    </section>
    <h4>Current top authors</h4>
    <section class='list'>
        {{#each authors}}
        <article class="image">
            <small>{{name}}</small>
            <a href="/authors/{{_id}}">
                <img src="data:image/png;base64, {{picture}}" alt="{{name}}" />
            </a>
            <div class="favorites">
                <i class="far fa-star">{{favorittedBy.length}}</i>
            </div>
        </article>
        {{/each}}
    </section>
</section>