{{#each books}}
<div>
    <h1>{{title}}</h1>
    <span>by <a href="authors/{{author.id}}">{{author.name}}</a></span>
    <img src="data:image/png;base64, {{cover}}" alt={{title}}>
    <h3>Quantity : {{quantity}}</h3>
    <h3>{{price}}$</h3>
    <input type="hidden" class='id' value={{_id}}>
    <button class='remove'>Remove book from cart</button>
</div>   
{{/each}}
<h3>{{totalPrice}}$</h3>
<button id='purchase'>Purchase books</button>