
<section class='big-list'>
    {{#each authors}}
    <article class='big-list-image'>
        <h5>{{name}}</h5>
        <a href="/authors/{{_id}}">
            <img src="data:image/png;base64, {{picture}}" alt="{{name}}" />
        </a>
        <div class="favorites">
            <i class="far fa-star">{{favorittedBy.length}}</i>
        </div>
    </article>
    {{/each}}
</section>

<ul class="pagination">
    {{#pages maxPage}}
    <li class="page-item">
        <a class="page-link" href="/authors?page={{this}}">{{this}}</a>
    </li>
    {{/pages}}
</ul>